@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

* {
  font-family: "Barlow", sans-serif;
  color-scheme: dark;
}

.pace {
  pointer-events: none;
  user-select: none;
}
.pace.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #3ed997;
  position: fixed;
  z-index: 2000;
  right: 100%;
  width: 100%;
  height: 1px;
  top: 0;
}

::selection {
  color: #2dd4bf;
}
